<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.falconssoft.onlinetechsupport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/online_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".reports.EngineersTrackingReport"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".LocationActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".reports.CallCenterTrackingReport"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".reports.ProgrammerReport"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".reports.TechnicalTrackingReport"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".DashBoard"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".TechnicalActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateVisible"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OnlineCenter"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateVisible|adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />


</manifest>